<div class="bg-dark bg-gradient">
    <nav class="container nav">
        <a routerLink="" class="nav-link text-light" routerLinkActive="active">Home</a>
        <a routerLink="/about" class="nav-link text-light" routerLinkActive="active">About</a>
        <a routerLink="/contact" class="nav-link text-light" routerLinkActive="active">Contact</a>
    </nav>
</div>
<div class="container mt-5">
    <h1>Counter en React</h1>
    <p>Valor: {{ counter }}</p>
    <button class="btn btn-primary" (click)="handleAdd()">+1</button>
    <router-outlet></router-outlet>
</div>
